* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: "roboto slab", serif;
	background-color: #e0e0e0;
	color: #000;
	margin: 0;
}

h1 {
	font-family: "roboto condensed", sans-serif;
	color: #AA0000;
	text-align: center;
	text-transform: uppercase;
	font-size: 6em;
	font-weight: 700;
	vertical-align: center;
	margin: 0 auto 0;
	padding: 20px;
}

p {
	font-family: "roboto slab", sans-serif;
	padding: 1em;
	line-height: 1.618em;
}

img {
	max-width: 600px;
	height: auto;
}

a:hover {
    color: #aa0000;
}

/* This is not working, no change in color on hover */


.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}


.white-background {
	width: 100%;
	clear: both;
	background-color: #fff;
	color: #000;
	text-align: center;
}

.subhead {
	font-family: "roboto condensed", sans-serif;
	font-style: none;
	font-weight: 600;
	text-align: center;
	color: #aa0000;
	font-size: 1.4em;
	margin-top: 3.5em;
}

.lowmargin {
	margin-top: 2em;
	margin-bottom: .8em;
}

.centered {
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.button {
	background-color: #fff;
	height: 5em;
	width: 20em;
	margin: 1em auto .5em;
}

.copy {
	height: 27em;
	padding: .5em;
	margin: .5em;
	float: left;
	background-color: #ffffff;
}

.wrapper {
	width: 50%;
	float: left;
}


.box {
	height: 13em;
	width: 45%;
	float: left;
	background-color: #fff;
	margin: .5em;
	padding: .5em;
}

#list {
	font-family: "roboto slab", serif;
	font-weight: 600;
	padding: 1em;
	list-style: none;
/* How to make bullets go away? */

}

#mail {
	text-align: center;
	padding-top: 1em;
}


#mail a {
	text-decoration: none;
	color: blue;
	font-size: 2em;
	font-weight: 700;
}

@media only screen and (max-width: 840px) {

	.box {
		height: 7em;
		width: auto;
		float: none;
	}

	.subhead {
		margin-top: 1.5em;
	}

	.copy {
		height: 29.5em;
	}

}

@media only screen and (max-width: 740px) {
	img {
		max-width: 480px;
	}

@media only screen and (max-width: 640px) {
	h1 {
		font-size: 4.5em;
	}	

@media only screen and (max-width: 605px) {
	.wrapper {
		clear: both;
		float: none;
		width: auto;
	}
}	

@media only screen and (max-width: 480px) {
	h1 {
		font-size: 3.5em;
	}
	img {
		max-width: 380px;
	}	
}

@media only screen and (max-width: 400px) {
	h1 {
		font-size: 2.5em;
	}
	img {
		max-width: 280px;
	}
	p {
		font-size: .9em;
	}
	.subhead {
		margin-top: 1em;
		font-size: 1em;
	}
	.box {
		height: 4.2em;
	}
	.button {
		height: 4.2em;
	}
	.copy {
		height: 24em;
	}
	#list {
		font-size: .9em;
	}
	#mail a {
		font-size: 1.5em;
		font-weight: 500;

	}		
}

/* Cannot test below 400px, Chrome does not go any smaller */

}
