body {
	font-family: "minion pro", palatino, serif;
	background-color: #f5f5f5;
	color: #000;
}

h1 {
	font-family: futura, sans-serif;
	color: #AA0000;
	text-align: center;
	text-transform: uppercase;
	font-size: 72px;
	font-weight: 700;
	vertical-align: center;
}

h2 {
	font-family: helvetica, sans-serif;
	font-size: 60px;
	color: #fff;
}

.white-background {
	clear: left;
	padding: 20px;
	background-color: #fff;
	color: #000;
	text-align: center;
}

.black-background {
	clear: left;
	padding: 20px;
	background-color: #000;
	color: #fff;
	text-align: center;
}

.subhead {
	font-family: futura, sans-serif;
	font-style: italic;
	font-weight: 600;
	text-align: center;
}

.subhead-red {
	font-family: futura, sans-serif;
	font-style: italic;
	font-weight: 600;
	text-align: center;
	color: #ff0000;
}

.centered {
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.mail {
	font-weight: bold;
	text-decoration: none;
	color: #AA0000;
}

.copy, .col2, .col3 {
	padding: 20px;
	margin: 20px;
	width: 25%;
	float: left;
	background-color: #ffffff;
}



#list {
	font-family: futura, sans-serif;
	font-size: 100%;
}