* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: "roboto slab", serif;
	background-color: #f0f0f0;
	color: #000;
	margin: 0;
}

h1 {
	font-family: "roboto condensed", sans-serif;
	color: #AA0000;
	text-align: center;
	text-transform: uppercase;
	font-size: 6em;
	font-weight: 700;
	vertical-align: center;
	margin: 0 auto 0;
	padding: 20px;
}

h2 {
	font-family: helvetica, sans-serif;
	font-size: 60px;
	color: #fff;
}


p {
	font-family: "roboto slab", sans-serif;
	padding: 1em;
	line-height: 1.618em;
}

a:hover {
    color: #aa0000;
}

/* This is not working, no change in color on hover */


.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}


.white-background {
	width: 100%;
	clear: both;
	background-color: #fff;
	color: #000;
	text-align: center;
}

.subhead {
	font-family: "roboto condensed", sans-serif;
	font-style: none;
	font-weight: 600;
	text-align: center;
	color: #aa0000;
	font-size: 1.4em;
	margin-top: 3.5em;
}

.lowmargin {
	margin-top: 2em;
	margin-bottom: .8em;
}

.centered {
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.button {
	background-color: #fff;
	height: 80px;
	width: 20em;
	margin: 1em auto .5em;
}

.copy {
	height: 27em;
	padding: .5em;
	margin: .5em;
	float: left;
	background-color: #ffffff;
}

.wrapper {
	width: 50%;
	float: left;
}


.box {
	height: 13em;
	width: 45%;
	float: left;
	background-color: #fff;
	margin: .5em;
	padding: .5em;
}

#list {
	font-family: "roboto slab", serif;
	font-weight: 600;
	padding: 20px;
}

#mail {
	text-align: center;
	padding-top: 1em;
}


#mail a {
	text-decoration: none;
	color: blue;
	font-size: 2em;
	font-weight: 700;
}

@media only screen and (max-device-width: 840px) {

body {
background-color: #ccc;
}

.box {
	float: none;
	width: auto;
}
