body {
	font-family: "merriweather", serif;
	background-color: #ccccff;
	color: #000;
}

h1 {
	font-family: "ubuntu", sans-serif;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	font-size: 600%;
	
	/*Why is 100% smaller than the default value?*/
	
	font-weight: 700;
	vertical-align: center;
	margin: 0 auto 0;
	
	padding: 0;
	
	/*Why is there still apparent padding between the object and the border?*/

}

h2 {
	font-family: helvetica, sans-serif;
	font-size: 60px;
	color: #fff;
}


p {
	font-family: "merriweather", sans-serif;
}

.header {
	background-color: #000066;
}

.white-background {
	width: 100%;
	/*margin: 0;*/

	/*Why does the div not stretch to the left edge of the browser window?*/
	
	clear: left;
	padding: 20px;
	background-color: #fff;
	color: #000;
	text-align: center;
}

.black-background {
	clear: left;
	padding: 20px;
	background-color: #000;
	color: #fff;
	text-align: center;
}

.subhead {
	font-family: "ubuntu", sans-serif;
	font-style: italic;
	font-weight: 400;
	text-align: center;
}

.subhead-blue {
	font-family: "ubuntu", sans-serif;
	font-style: italic;
	font-weight: 600;
	text-align: center;
	color: #000066;
	font-size: 120%;
}

.centered {
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.mail {
	font-weight: 700;
	text-decoration: none;
	color: #AA0000;
}

.copy, .col2, .col3 {
	padding: 20px;
	margin: 20px;
	width: 25%;
	float: left;
	background-color: #ffffff;
}



#list {
	font-family: "merriweather", serif;
	font-weight: 600;
}