h2 {
	text-align: center;
	font-family: "Roboto", sans-serif;
}

ul {
	list-style-type: none;
	font-family: "Open Sans", sans-serif;
}

li {
	float: right;
}


img {
	margin: 10px;
}

nav figure {
	float: left;
}

figcaption {
	text-align: center;
	font-family: "Roboto", sans-serif;
}

footer {
	clear: both;
	font-family: "Open Sans", sans-serif;
	text-align: center;
	padding: 10px 0 10px 0;
	margin: 10px 0 10px 0;
	/* Why does the background color not extend to edges of the screen? */
	background-color: #eee;
}

a {
    display: block;
    width: 60px;
    text-decoration: none;
    color: #000;
    padding: 20px;
}

.row {
	display: block;
	clear:both;
}

.wrapper {
	clear: both;
	width: 90%;
	padding: 20px;
	margin: auto;
}

.blog {
	clear: both;
	width: 50%;
	padding: 20px;
	margin: 0 auto 40px auto;
/* margin is not helping to separate divs */
}

#top {
	background-color: #eee;
	/* This is not working */
}

#wordmark {
	float: left;
}

a:hover {
	color: #cc0000;
}
